.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  margin-bottom: 16px;
}