input {
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.smallFont {
  font-size: 12px;
  text-align: center;
}

.subContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
}

.childContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 8px;
}

.childContainer:first-child {
  margin-left: 0;
}

.childContainer:last-child {
  margin-right: 0;
}
